@font-face {
    font-family: 'Gilroy 400';
    src: url(./font/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy 500';
    src: url(./font/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Gilroy 600';
    src: url(./font/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: 'Gilroy 700';
    src: url(./font/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy 900';
    src: url(./font/Gilroy-Extrabold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    transition: 500ms;
}

.container {
    width: 1280px;
    margin: 52px auto;
}

header {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header-text {
    font-family: 'Gilroy 900';
    font-size: 24px;
    line-height: 30px;
    color: #FFC700;
    cursor: pointer;
    transition: 500ms;
}

.header-text2 {
    font-family: 'Gilroy 700';
    font-size: 24px;
    line-height: 30px;
    color: #A5A5B4;
    cursor: pointer;
    transition: 500ms;
}

.text3 {
    font-family: 'Gilroy 900';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 67px;
}

.text4 {
    font-family: 'Gilroy 700';
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 83px;
}

.text5 {
    font-family: 'Gilroy 900';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFC700;
    margin-top: 39px;
    margin-bottom: 34px;
}

.all {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 629px);
    grid-auto-rows: 123px;
    grid-gap: 22px;
}

.item {
    background: #F0F0F0;
    border-radius: 15px;
    padding: 21px 0;
}

.wrap {
    width: 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 28px;
}

.checkbox {
    height: 16px;
    width: 16px;
    border: 1px solid #999999;
    border-radius: 3px;
}

.checkboxon {
    height: 16px;
    width: 16px;
    border: 1px solid #999999;
    border-radius: 3px;
    background: #FFC700;
}


.buy {
    font-family: 'Gilroy 700';
    font-size: 20px;
    line-height: 25px;
}

.item-text {
    font-family: 'Gilroy 500';
    font-size: 16px;
    line-height: 19px;
    color: #A5A5B4;
    margin-bottom: 12px;
    margin-left: 57px;
}

.data {
    font-family: 'Gilroy 600';
    font-size: 16px;
    line-height: 20px;
    color: #FFC700;
    margin-left: 57px;
}

.text6 {
    margin-top: 103px;
    font-family: 'Gilroy 600';
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #A5A5B4;
    margin-bottom: 34px;
}

.text7 {
    margin-top: 86px;
    margin-bottom: 39px;
    font-family: 'Gilroy 700';
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    display: none;
}